body {
	/* height: 100%; */
	/* max-height: 600px; */
	/* width: 1000px; */
	background-color: hsla(200,40%,30%,.4);
	background-image:		
	
		url('layers/parallax-demon-woods-close-trees.png'),
		url('layers/parallax-demon-woods-mid-trees.png'),
		url('layers/parallax-demon-woods-far-trees.png'),
		url('layers/parallax-demon-woods-bg.png');
	
	background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		1500px,
		500px 1500px,
		1000px,
		400px 260px; 
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}